button {
    border-radius: 25px;
    border: none;
    background-color: green;
    color: white;
    width: 100px;
    font-weight: 600;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}